@import '../../utilities/variables';

.image img {
    max-width: 90%;
}

.footer {
    font-size: calc(1.7vw + 1.7rem);
    justify-content: center;
    order: -1;
}

.name {
    font-size: calc(3vw + 3rem);
    font-weight: bolder;
}

.description {
    font-size: $smallFont;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    padding: 1.5em 0;
    max-width: 45ch;
    margin: auto;
    line-height: 1.6em;
    border: none;
}

.subMenu {
    margin-bottom: 2em;
    order: -2;

    span {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        display: inline-block;
        background-color: hsla(0, 3.2%, 42.9%, 0.55);
        margin-right: 1.5em;
        cursor: pointer;
        border: 1px solid hsla(0, 3.2%, 42.9%, 0.55);

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.active {
    background-color: white !important;
}

@media (min-width: 640px) {
    .name {
        font-size: calc(2vw + 4rem);
    }

    .description {
        max-width: 43ch;
    }
}
@media (min-width: 950px) {
    .image {
        order: 2;
    }

    .name {
        font-size: calc(2.5vw + 2.5rem);
    }

    .description {
        font-size: calc(1.3vw + 1rem);
        max-width: 33ch;
        padding-left: 0 !important;
    }

    .info {
        text-align: left;
    }

    .subMenu {
        order: 1;
        padding-left: 0 !important;
    }

    .footer {
        justify-content: start;
    }
}
