@import '../../utilities/variables';

.image img {
    max-width: 90%;
}

.subMenu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.5em;
    font-size: calc(2.3vw + 1.3rem);
    font-weight: bolder;
    margin-bottom: .5em;

    span {
        padding-bottom: 0.4em;
    }
}

.active {
    border-bottom: 1px solid white;
}

.name {
    font-size: $bigFont;
    font-weight: bolder;
}

.description {
    font-size: $smallFont;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    padding-bottom: 2em;
    max-width: 45ch;
    margin: auto;
    line-height: 1.6em;
}

.footer {
    .distance,
    .travelTime {
        h1 {
            font-size: calc(3vw + 2rem);
            margin-top: 0.3em;
        }

        h3 {
            font-size: calc(1vw + 1rem);
        }
    }
}

@media (min-width: 640px) {
    .subMenu {
        font-size: calc(1.5vw + 1.5rem);
    }

    .name {
        font-size: calc(7vw + 8rem);
    }

    .description {
        max-width: 43ch;
    }
}

@media (min-width: 950px) {
    .subMenu {
        font-size: calc(1.3vw + 1.3rem);
    }

    .name {
        font-size: calc(6vw + 7rem);
    }

    .description {
        font-size: calc(1vw + 1rem);
        max-width: 33ch;
    }
    
    .footer {
        .distance,
        .travelTime {
            h1 {
                font-size: calc(1vw + 1.5rem);
            }

            h3 {
                font-size: calc(0.5vw + 0.7rem);
            }
        }
    }
}
