.active {
    border-bottom: 1px solid white;
}

.image img {
    max-width: 90%;
}

.subMenu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.5em;
    font-size: var(--font2);
    font-weight: bolder;

    span {
        padding-bottom: 0.4em;
    }
}

.name {
    font-size: calc(var(--font1) + 6em);
    font-weight: bolder;
}

.description {
    font-size: var(--font3);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    padding-bottom: 2em;
    max-width: 45ch;
    margin: auto;
    line-height: 1.6em;
}

.footer {
    .distance,
    .travelTime {
        h1 {
            font-size: var(--font1);
            margin-top: 0.3em;
        }

        h3 {
            font-size: calc(var(--font4) - 0.2em);
        }
    }
}

@media (min-width: 662px) {
    .name {
        font-size: calc(var(--font1) + 8em);
    }

    .description {
        max-width: 43ch;
    }
}

@media (min-width: 950px) {
    .subMenu {
        font-size: calc(var(--font2) - 0.5rem);
    }

    .name {
        font-size: calc(var(--font1) + 6em);
    }

    .description {
        font-size: calc(var(--font3) - 0.3em);
        max-width: 38ch;
    }

    .footer {
        .distance,
        .travelTime {
            h1 {
                font-size: var(--font2);
            }
        }
    }
}
