.active {
    background-color: white;
    color: black;
}

.image img {
    max-width: 100%;
}

.subMenu {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
    order: -2;
    font-size: var(--font1);

    span {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: 1px solid hsla(0, 3.2%, 42.9%, 0.55);

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.name {
    font-size: calc(var(--font1) + 1em);
    font-weight: bolder;
    margin-bottom: 0.3em;
}

.description {
    font-size: var(--font3);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    max-width: 45ch;
    margin: auto;
    line-height: 1.6em;
    border: none;
}

.footer {
    font-size: var(--font2);
    justify-content: center;
    order: -1;
}

@media (min-width: 662px) {
    .name {
        font-size: calc(var(--font1) + 1.3em);
    }

    .description {
        max-width: 43ch;
    }
}

@media (min-width: 950px) {
    .image {
        order: 2;
    }

    .info {
        grid-template-columns: 20% 75%;
    }

    .subMenu {
        grid-template-columns: auto;
        padding-left: 0 !important;
        text-align: center;
        margin-bottom: 0;
    }

    .name {
        font-size: calc(var(--font1) + 1em);
    }

    .description {
        font-size: var(--font4);
        max-width: 43ch;
        padding-left: 0 !important;
    }

    .footer {
        font-size: var(--font3);
        justify-content: start;
    }
}
