@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

// @import '../utilities/_variables';

html {
    font-size: 62.5%;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.active {
    border-bottom: 1px solid white;
}

.container {
    padding: 20em 2em 15em 2em;
    display: grid;
    gap: 9em;
    place-items: center;
    min-height: 100vh;
}
.content {
    display: grid;
    grid-gap: 7em;
}

.globalInfo {
    display: grid;
    gap: 2.5em;
}

.details {
    display: grid;
    grid-gap: 1em;
}

.globalFooter {
    display: flex;
    flex-direction: column;
    grid-gap: 4.5em;
}

@media (min-width: 640px) {
    .container {
        padding-top: 25em;
    }

    .globalFooter {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 950px) {
    .txtAlign {
        text-align: left;
    }

    .leftPadding {
        padding-left: 0.4em !important;
    }

    .container {
        padding-left: 4em;
        padding-right: 4em;
    }

    .content {
        width: 100%;
        grid-template-columns: auto auto;
        place-content: space-around;
        place-items: center;
    }
}
