@import '../utilities/variables';

.header {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    padding: 2em;
    z-index: 100;
}

.logo {
    justify-self: start;
}

.menuIcon {
    justify-self: end;
}

.menu {
    position: fixed;
    left: -80%;
    top: 0;
    width: 80%;
    height: 100%;
    padding: 4em;
    background-color: rgba(8, 11, 26, 0.9);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
            margin: 4.5em 0;
            a {
                text-decoration: none;
                position: relative;
                color: white;
                font-size: $smallFont;
                font-weight: bold;
                padding: 0.7em;

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    border-bottom: 1px solid;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: left top;
                    transform-origin: left top;
                    -webkit-transition: -webkit-transform 0.5s ease-in-out;
                    transition: -webkit-transform 0.5s ease-in-out;
                    transition: transform 0.5s ease-in-out;
                    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
                }

                &:hover::after {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transform-origin: right top;
                    transform-origin: right top;
                }
            }
        }
    }
}

.closeIcon {
    text-align: right;
}

@media (min-width: 640px) {
    .logo img {
        width: 7rem;
    }
    .menuIcon {
        display: none;
    }

    .header {
        padding: 0 0 2em 2em;
    }

    .menu {
        padding: 4em 2em;
        width: 90%;
        position: initial;
        background: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        place-self: end;

        ul {
            flex-direction: row;

            li {
                margin: 0;
            }
        }
    }

    .closeIcon {
        display: none;
    }
}

@media (min-width: 950px) {
    .header {
        top: 3rem;
        padding-left: 4em;
    }

    .menu {
        padding: 3em 0;
    }
}
