.title {
    font-size: var(--font1);
    font-weight: bold;
    width: 100%;
    text-align: center;
}

@media (min-width: 662px) {
    .title {
        text-align: left;
    }
}
@media (min-width: 950px) {
    .title {
        font-size: calc(1.5vw + 1.4rem);
    }
}
