@import '../utilities/variables';

.title {
    font-size: $mediumFont;
    font-weight: bold;
    place-self: center;
}

@media (min-width: 640px) {
    .title {
        font-size: $mediumFont;
    }
}
@media (min-width: 950px) {
    .title {
        font-size: calc(1.5vw + 1.4rem);
        place-self: start;
    }
}
